<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bourne.caesar.peptribeconcept">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainFeed"
            android:label="@string/title_activity_main_feed" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".SliderAdapter" />
        <activity android:name=".MoviesActivity" />
        <activity android:name=".AnimeActivity" />
        <activity android:name=".Registration.RegisterActivity" />
        <activity android:name=".SearchBar.CustomAdapterActivity" />
        <activity android:name=".SearchBar.CustomSuggestionsAdapter" />
        <activity android:name=".Network.ErrorNetworkActivity" />
        <activity android:name=".EditProfileActivity"></activity>
    </application>

</manifest>